<form class="form-basic" [formGroup]="form_basic" (ngSubmit)="save($event)">
    <!-- FULLNAME -->
    <div formGroupName="fullName">
        <!-- NAME  -->
        <!-- <p>
            Name: {{ nameField.value }}, valid: {{ nameField.valid }}
            <br>
            <input type="text" formControlName="name" [ngClass]="{ 'is-valid': isNameFieldValid, 'is-invalid': isNameFieldInvalid }" />
            <br>
            <button [disabled]="nameField.invalid" (click)="getNameValue()">Obtener Value</button>
        </p> -->
        <!-- <code><pre>{{ nameField | json }}</pre></code> -->
        <!-- <div class="messages" [class.active]="isNameFieldInvalid">
          <strong class="error" *ngIf="nameField.hasError('required')">Name field is required</strong>
          <strong class="error" *ngIf="nameField.hasError('maxlength')">max length 30</strong>
          <strong class="error" *ngIf="nameField.hasError('pattern')">Characters not permited</strong>
        </div> -->
        <mat-form-field appearance="fill">
            <mat-label>Name: {{ nameField.value }}, valid: {{ nameField.valid }}</mat-label>
            <input matInput type="text" formControlName="name" [ngClass]="{ 'is-valid': isNameFieldValid, 'is-invalid': isNameFieldInvalid }">
        </mat-form-field>
        <div class="messages" [class.active]="isNameFieldInvalid">
            <mat-error *ngIf="nameField.hasError('required')">Name field is required</mat-error>
            <mat-error *ngIf="nameField.hasError('maxlength')">max length 30</mat-error>
            <mat-error *ngIf="nameField.hasError('pattern')">Characters not permitted</mat-error>
        </div>
        <!-- LAST  -->
        <p>
            Last Name: {{ lastField.value }}, valid: {{ lastField.valid }}
            <br>
            <input type="text" formControlName="last" [ngClass]="{ 'is-valid': isLastFieldValid, 'is-invalid': isLastFieldInvalid }" />
            <br>
        </p>
        <div class="messages" [class.active]="isLastFieldInvalid">
            <strong class="error" *ngIf="lastField.hasError('required')">Name field is required</strong>
            <strong class="error" *ngIf="lastField.hasError('maxlength')">max length 30</strong>
            <strong class="error" *ngIf="lastField.hasError('pattern')">Characters not permited</strong>
        </div>
    </div>
    <!-- EMAIL -->
    <p>
        Email: {{ emailField.value }}
        <br>
        <input type="email" formControlName="email" [ngClass]="{ 'is-valid': isEmailFieldValid, 'is-invalid': isEmailFieldInvalid }" />
    </p>
    <div class="messages" [class.active]="emailField.touched && isEmailFieldInvalid">
        <strong class="error" *ngIf="emailField.hasError('required')">email field is required</strong>
        <strong class="error" *ngIf="emailField.hasError('email')">No es un email válido</strong>
    </div>
    <!-- PHONE  -->
    <p>
        Phone: {{ phoneField.value }}
        <br>
        <input type="tel" formControlName="phone" class="is-optional" />
    </p>
    <!-- COLOR -->
    <p>
        Color: {{ colorField.value }}
        <br>
        <input type="color" formControlName="color" />
    </p>
    <!-- DATE -->
    <p>
        Date: {{ dateField.value }}
        <br>
        <input type="date" formControlName="date" />
    </p>
    <!-- AGE -->
    <p>
        Age: {{ ageField.value }}
        <br>
        <input type="number" formControlName="age" />
    </p>
    <div class="messages" [class.active]="ageField.touched && isAgeFieldInvalid">
        <strong class="error" *ngIf="ageField.hasError('required')">Age field is required</strong>
        <!-- <strong class="error" *ngIf="ageField.hasError('min')">min age 18</strong> -->
        <strong class="error" *ngIf="ageField.hasError('max')">max age 65</strong>
    </div>
    <!-- CATEGORY -->
    <p>
        Category: {{ categoryField.value }}
        <select formControlName="category">
        <option value="category-1">Categoria uno</option>
        <option value="category-2">Categoria dos</option>
        <option value="category-3">Categoria tres</option>
        <option value="category-4">Categoria cuatro</option>
        <option value="category-5">Categoria cinco</option>
      </select>
    </p>
    <!-- TAG -->
    <p>
        Tags: {{ tagField.value }}
        <select formControlName="tag" multiple>
      <option value="tag-1">tag #uno</option>
      <option value="tag-2">tag #dos</option>
      <option value="tag-3">tag #tres</option>
      <option value="tag-4">tag #cuatro</option>
      <option value="tag-5">tag #cinco</option>
    </select>
    </p>
    <!-- AGREE -->
    <p>
        Agree: {{ agreeField.value }}
        <br>
        <input type="checkbox" formControlName="agree" />
    </p>
    <!-- GENDER  -->
    <p>
        Gender: {{ genderField.value }}
        <br>
        <label>
        <input name="gender" type="radio" value="male" formControlName="gender" />
        Male
      </label>
        <label>
        <input name="gender" type="radio" value="female" formControlName="gender" />
        Female
      </label>
        <label>
        <input name="gender" type="radio" value="other" formControlName="gender" />
        Other
      </label>
    </p>
    <!-- ZONE  -->
    <p>
        Zone: {{ zoneField.value }}
        <br>
        <label>
      <input name="zone" type="radio" value="zone-1" formControlName="zone" />
      Zone 1
    </label>
        <label>
      <input name="zone" type="radio" value="zone-2" formControlName="zone" />
      Zone 2
    </label>
        <label>
      <input name="zone" type="radio" value="zone-3" formControlName="zone" />
      Zone 3
    </label>
    </p>
    <!-- SUBMIT BUTTON  -->
    <p>
        <button [disabled]="form_basic.invalid" type="submit">Enviar</button>
    </p>
</form>